<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://raw.githack.com/prroos/springBootProject/master/src/main/resources/templates/reverserStyle.css">
</head>

<h1>Text Reverser</h1>

<body>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<form>
    <div class="half">
        <textarea class="textInput" placeholder="Write your text here!" type="text" @click.prevent="reverser()" required></textarea>
    </div>
    <br>
    <div class="half">
        <button class="submitbutton">Reverse</button>
    </div>
</form>

    <b>Reversed text:</b>

    <p id = reversedText> {{ output }} <p/>

<script>

    var app = new Vue({
    el: '#reverser',
    data: {
        output: ''
    },
    methods: {
        reverser() {

            fetch('http://localhost:8080/reverse', {
                    method: "POST",
                    body: " " + String(this.$refs.my_input.value)
                }
            )
                .then(function(response) {
                    return response.text();
                })
                .then(function(response) {
                    app.output = response;
                });
        }
    }
})

</script>

</body>
</html>