body, html{
    margin:2px;
    margin-right: 14px;
    padding:0;
}

body {
    width: 100%;
    display: inline-block;
    text-align: center;
    align-content: center;
    margin-right: 20px;
}

p {
    width:50%;
    display: inline-block;
}

h1 {
    font-size: 40px;
    font-family: monospace;
}

.textInput {
    height: 200px;
    width: 95%;
    font-size:25px;
    background-color: #dddddd;
    border: 2px solid gray;
}

.half {
    width: 100%;
    align-content: center;
    text-align: center;
    word-wrap: break-word;
}

.submitbutton {
    font-family: monospace;
    background-color: white;
    border: 6px solid black;
    width: 30%;
    height: 100%;
    font-size: 100px;
    border-radius: 40px;
    text-align: center;

}

.submitbutton:hover {
    background-color: grey;
    color: white;
}

.submitbutton:active {
    background-color: black;
    color: white;
}

.textInput , .submitbutton:focus {
    outline: none;
}